@use "colors" as *;
@use "structure" as *;
@use "structure" as *;
@use "buttons" as *;

.productCard {
  @include flex(space-between, column, null, 0);
  width: 100%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  background: $backgroundCards;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.03);
    cursor: pointer;
  }

  a {
    text-decoration: none;
  }

  .productCard__favbutton {
    width: 1.8rem;
    height: 2.4rem;
    background-color: $lightblue;
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 50% 100%, 0% 70%);
    position: absolute;
    top: 1.3rem;
    right: 1.3rem;
    border: none;
    border-radius: 0.25rem;
  }

  .productCard__img {
    width: 100%;
    transform: scale(0.85);
    transform-origin: center;
    margin-bottom: -3rem;
  }

  .productCard__row {
    color: $white;
    padding: 1rem;
    .productCard__row__main {
      @include flex(space-between, row, flex-start, 0);
      .productCard__row__title {
        font-size: 1.5rem;
        font-weight: 500;
        text-align: left;
        max-width: 60%;
        margin-bottom: 1.3em;
        height: 50px;
      }

      .productCard__row__buy {
        @include buttonsGeneral($white, 1.5px solid $white, $vibrantblue);
        width: 30%;
        font-size: 1.2rem;
      }
    }

    .productCard__price {
      @include buttonsGeneral(
        $vibrantblue,
        1.2px solid $vibrantblue,
        $withHover: false
      );
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 0.2rem;
    }
  }
  .productCard__footer {
    @include flex(space-between, row, center, 1rem);
    background-color: $white;
    padding: 0.8rem 1.2rem;

    .productCard__footer__info {
      @include flex(null, row, center, 0.6rem);
      .productCard__footer__info__txt {
        @include flex(null, column, flex-start, 0.4rem);
        font-size: 0.8rem;
        .productCard__footer__info__txt__category {
          color: rgb(26, 26, 26, 0.5);
        }
      }

      .productCard__footer___info__categoryicon {
        width: 1.4rem;
        height: 1.4rem;
        background-color: black;
        border-radius: 0.5rem;
        padding: 0.3rem;
      }
    }

    .productCard__footer__logo {
      height: 40px;
      opacity: 0.05;
    }
  }
}

//productDetailCard{...}
