.productCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: clamp(400px, 2vh, 600px);
  border-radius: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  text-align: center;
  position: relative;
  background-color: white;

  .productCard__favbutton {
    width: 30px;
    height: 35px;
    background-color: white;
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 50% 100%, 0% 70%);
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
  }

  .productCard__body {
    display: flex;
    justify-content: space-between;

    .productCard__body__img {
      width: 100%;
      height: auto;
    }

    .productCard__body__row {
      display: flex;
      justify-content: space-between;
      color: white;

      .productCard__body__row__buy {
        border-radius: 2rem;
        padding: 0.2rem em;
        background-color: blue;
        color: rgb(255, 255, 255);
        font-size: 0.9rem;
      }
      .productCard__body__price {
        border-radius: 2rem;
        padding: 0.5rem 1rem;
        background-color: blue;
        color: white;
        font-size: 0.6rem;
      }
    }
  }

  .productCard__footer {
    display: flex;
    justify-content: space-between;

    .productCard__footer__categoryicon {
      width: 30px;
      height: 30px;
    }

    .productCard__footer__categorytxt {
      font-size: 0.1rem;
      color: rgb(26, 26, 26, 0.5);
    }
    .productCard__footer__logo {
      width: 40px;
      height: 40px;
      opacity: 0.25;
    }
  }
}
