@use "colors" as *;
@use "buttons" as *;
@use "structure" as *;

.navbar {
  @include flex(space-between, row, center, 0);
  background-color: $white;
  position: sticky;
  top: 1rem;
  z-index: 999;
  padding: 0.8rem 2.8rem;
  border-radius: 3rem;
  margin: 0 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;

  .navbar__logo {
    @include iconsOnHover($mainblue);
  }

  a {
    text-decoration: none;
    color: $mainblue;
    font-size: 1.2rem;
  }

  &.navbar--scrolled {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    color: $white;
    box-shadow: none;
    a {
      color: $white;
    }
  }

  .navbar__main {
    @include flex(null, row, center, 2rem);
    a {
      @include buttonsGeneral($mainblue, none);
    }

    .navbar__main__myfavs {
      padding: 0.5rem 1rem;
      text-align: center;
      border-radius: 2rem;
    }
  }

  .navbar__more {
    @include flex(null, row, center, 0.8rem);
    .navbar__more__auth {
      @include iconsOnHover($mainblue);
      @include flex(null, row, center, 0.4rem);
    }
    .navbar__more__cart {
      @include iconsOnHover($mainblue);
    }
  }
}

.master {
  display: grid;
  grid-template-columns: 20fr 80fr;
  grid-template-rows: auto 650px;
  grid-template-areas:
    "sidebar main"
    "footer footer";
  padding: 3rem;

  .main {
    @include grid(3);
    grid-area: main;
  }

  .sidebar {
    @include grid(1, 6);
    grid-area: sidebar;
  }
}
