.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: sticky;
  top: 1rem;
  z-index: 999;
  padding: 0.8rem 2.8rem;
  border-radius: 3rem;
  margin-right: 1rem;
  margin-left: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease,
    backdrop-filter 0.3s ease;

  a {
    text-decoration: none;
    color: #1483bb;
    font-size: 1.2rem;
  }

  &.navbar--scrolled {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    color: white;
    box-shadow: none;
    min-height: 50px;
    font-weight: 500;

    a {
      color: white;
    }
  }

  .navbar__main {
    display: flex;
    gap: 4rem;
    align-items: center;

    .navbar__main a {
      text-decoration: none;
      color: #1483bb;
      font-size: 1.2rem;
      display: flex;
      align-items: center;
    }

    .navbar__main__myfavs {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 1rem;
      text-align: center;
      border-radius: 2rem;
    }
  }

  .navbar__more {
    display: flex;
    gap: 0.8rem;
    align-items: center;
  }

  .navbar__more__auth {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }
}

.master {
  display: grid;
  grid-template-columns: 20fr 80fr;
  grid-template-rows: auto 650px;
  grid-template-areas:
    "sidebar main"
    "footer footer";
  padding: 3rem;

  .main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    grid-area: main;
  }

  .sidebar {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    grid-area: sidebar;
  }
}
