@font-face {
  font-family: "SFRegular";
  src: url(../assets/fonts/SF-Pro-Display-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SFMedium";
  src: url(../assets/fonts/SF-Pro-Display-Medium.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SFSemibold";
  src: url(../assets/fonts/SF-Pro-Display-Semibold.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SFBold";
  src: url(../assets/fonts/SF-Pro-Display-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}
.loader img {
  width: 100%;
  height: 100%;
  filter: brightness(0) invert(1);
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.productCard {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 0;
  width: 100%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to bottom, rgba(203, 249, 255, 0.4), rgba(20, 167, 187, 0.1));
  transition: transform 0.3s ease;
}
.productCard:hover {
  transform: scale(1.03);
  cursor: pointer;
}
.productCard a {
  text-decoration: none;
}
.productCard .productCard__favbutton {
  width: 1.8rem;
  height: 2.4rem;
  background-color: #eef8f8;
  clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 50% 100%, 0% 70%);
  position: absolute;
  top: 1.3rem;
  right: 1.3rem;
  border: none;
  border-radius: 0.25rem;
}
.productCard .productCard__img {
  width: 100%;
  transform: scale(0.85);
  transform-origin: center;
  margin-bottom: -3rem;
}
.productCard .productCard__row {
  color: #ffffff;
  padding: 1rem;
}
.productCard .productCard__row .productCard__row__main {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  gap: 0;
}
.productCard .productCard__row .productCard__row__main .productCard__row__title {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
  max-width: 60%;
  margin-bottom: 1.3em;
  height: 50px;
}
.productCard .productCard__row .productCard__row__main .productCard__row__buy {
  text-decoration: none;
  padding: 0.6em 0.8em;
  border-radius: 2rem;
  font-weight: 600;
  border: 1.5px solid #ffffff;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  background-color: #007aff;
  color: #ffffff;
  width: 30%;
  font-size: 1.2rem;
}
.productCard .productCard__row .productCard__row__main .productCard__row__buy:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #007aff;
}
.productCard .productCard__row .productCard__price {
  text-decoration: none;
  padding: 0.6em 0.8em;
  border-radius: 2rem;
  font-weight: 600;
  border: 1.2px solid #007aff;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  background-color: #ffffff;
  color: #007aff;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
}
.productCard .productCard__footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  background-color: #ffffff;
  padding: 0.8rem 1.2rem;
}
.productCard .productCard__footer .productCard__footer__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6rem;
}
.productCard .productCard__footer .productCard__footer__info .productCard__footer__info__txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4rem;
  font-size: 0.8rem;
}
.productCard .productCard__footer .productCard__footer__info .productCard__footer__info__txt .productCard__footer__info__txt__category {
  color: rgba(26, 26, 26, 0.5);
}
.productCard .productCard__footer .productCard__footer__info .productCard__footer___info__categoryicon {
  width: 1.4rem;
  height: 1.4rem;
  background-color: black;
  border-radius: 0.5rem;
  padding: 0.3rem;
}
.productCard .productCard__footer .productCard__footer__logo {
  height: 40px;
  opacity: 0.05;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 0;
  background-color: #ffffff;
  position: sticky;
  top: 1rem;
  z-index: 999;
  padding: 0.8rem 2.8rem;
  border-radius: 3rem;
  margin: 0 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.navbar .navbar__logo {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.navbar .navbar__logo:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px rgba(20, 131, 187, 0.1));
}
.navbar a {
  text-decoration: none;
  color: #1483bb;
  font-size: 1.2rem;
}
.navbar.navbar--scrolled {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: #ffffff;
  box-shadow: none;
}
.navbar.navbar--scrolled a {
  color: #ffffff;
}
.navbar .navbar__main {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.navbar .navbar__main a {
  text-decoration: none;
  padding: 0.6em 0.8em;
  border-radius: 2rem;
  font-weight: 600;
  border: none;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  background-color: #ffffff;
  color: #1483bb;
}
.navbar .navbar__main a:hover {
  cursor: pointer;
  background-color: #1483bb;
  color: #ffffff;
}
.navbar .navbar__main .navbar__main__myfavs {
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 2rem;
}
.navbar .navbar__more {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
}
.navbar .navbar__more .navbar__more__auth {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
}
.navbar .navbar__more .navbar__more__auth:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px rgba(20, 131, 187, 0.1));
}
.navbar .navbar__more .navbar__more__cart {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.navbar .navbar__more .navbar__more__cart:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px rgba(20, 131, 187, 0.1));
}

.master {
  display: grid;
  grid-template-columns: 20fr 80fr;
  grid-template-rows: auto 650px;
  grid-template-areas: "sidebar main" "footer footer";
  padding: 3rem;
}
.master .main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 2rem;
  grid-area: main;
}
.master .sidebar {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 2rem;
  grid-area: sidebar;
}

html,
body {
  font-family: "SFRegular", sans-serif;
  background: linear-gradient(45deg, rgba(128, 222, 239, 0.2) 0%, rgba(140, 249, 210, 0.2) 25%), linear-gradient(45deg, #eef8f8 0%, #1483bb 100%);
  background-attachment: fixed;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}
html::before,
body::before {
  content: "";
  position: fixed;
  top: -100px;
  right: -900px;
  width: 100%;
  height: 100vw;
  background: url("../assets/logos/icone_original.png") repeat;
  opacity: 0.08;
  z-index: -1;
}
html::after,
body::after {
  content: "";
  position: fixed;
  bottom: 10%;
  left: 50%;
  width: 200px;
  height: 200px;
  background: url("../assets/logos/icone_original.png") no-repeat;
  opacity: 0.08;
  transform: translateX(-50%);
  z-index: -1;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */