@font-face {
  font-family: "SF Pro";
  src: url(../assets/fonts/SF-Pro-Display-Thin.otf) format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro";
  src: url(../assets/fonts/SF-Pro-Display-Light.otf) format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro";
  src: url(../assets/fonts/SF-Pro-Display-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro";
  src: url(../assets/fonts/SF-Pro-Display-Medium.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro";
  src: url(../assets/fonts/SF-Pro-Display-Semibold.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro";
  src: url(../assets/fonts/SF-Pro-Display-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}
.loader img {
  width: 100%;
  height: 100%;
  filter: brightness(0) invert(1);
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.productCard {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 0;
  width: 100%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to bottom, rgba(203, 249, 255, 0.4), rgba(20, 167, 187, 0.1));
  transition: transform 0.3s ease;
}
.productCard:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.productCard a {
  text-decoration: none;
}
.productCard .productCard__favbutton {
  width: 2.5rem;
  top: 1rem;
  right: 1rem;
  transition: filter 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  position: absolute;
  z-index: 2;
}
.productCard .productCard__favbutton--active {
  filter: invert(65%) sepia(94%) saturate(1477%) hue-rotate(173deg) brightness(90%) contrast(90%);
}
.productCard .productCard__favbutton:hover {
  transform: scale(1.05);
}
.productCard .productCard__favbutton--active {
  filter: invert(65%) sepia(94%) saturate(1477%) hue-rotate(173deg) brightness(90%) contrast(90%);
}
.productCard .productCard__img {
  width: 100%;
  transform: scale(0.85);
  transform-origin: center;
  margin-bottom: -3rem;
}
.productCard .productCard__row {
  color: #ffffff;
  padding: 1rem;
}
.productCard .productCard__row .productCard__row__main {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  gap: 0;
}
.productCard .productCard__row .productCard__row__main .productCard__row__title {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: left;
  max-width: 60%;
  margin-bottom: 1.3em;
  height: 50px;
}
.productCard .productCard__row .productCard__row__main .productCard__row__buy {
  text-decoration: none;
  padding: 0.6em 0.8em;
  border-radius: 2rem;
  font-weight: 600;
  border: 1.5px solid #ffffff;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  background-color: #007aff;
  color: #ffffff;
  width: 30%;
  font-size: 1.2rem;
}
.productCard .productCard__row .productCard__row__main .productCard__row__buy:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #007aff;
}
.productCard .productCard__row .productCard__price {
  text-decoration: none;
  padding: 0.6em 0.8em;
  border-radius: 2rem;
  font-weight: 600;
  border: 1.2px solid #007aff;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  background-color: #ffffff;
  color: #007aff;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
}
.productCard .productCard__footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  background-color: #ffffff;
  padding: 0.8rem 1.2rem;
}
.productCard .productCard__footer .productCard__footer__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6rem;
}
.productCard .productCard__footer .productCard__footer__info .productCard__footer__info__txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4rem;
  font-size: 0.8rem;
}
.productCard .productCard__footer .productCard__footer__info .productCard__footer__info__txt .productCard__footer__info__txt__category {
  color: rgba(26, 26, 26, 0.5);
}
.productCard .productCard__footer .productCard__footer__info .productCard__footer__info__categoryicon {
  width: 1.4rem;
  height: 1.4rem;
  background-color: black;
  border-radius: 0.5rem;
  padding: 0.3rem;
}
.productCard .productCard__footer .productCard__footer__logo {
  height: 40px;
  opacity: 0.05;
}

.cart__nodata,
.favs__nodata {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 0;
  font-size: 2.4rem;
  color: #ffffff;
  text-align: center;
  height: 60vh;
  line-height: 1.3;
}

.cartspage__title,
.favspage__title {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}

.cart__txt,
.favs__txt {
  font-size: 3rem;
  font-weight: 400;
  color: #ffffff;
  margin-top: 0.4rem;
}

.cartspage__subtitles {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 0;
  font-size: 1.2rem;
  padding: 0 6rem;
  margin-top: 4rem;
  font-weight: 300;
}
.cartspage__subtitles .cartspage__subtitles__specific {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 11.5rem;
  padding-right: 10%;
}

.productCardCart {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  gap: 0;
  border-radius: 0.5rem;
  position: relative;
  background: linear-gradient(to right, rgba(203, 249, 255, 0.4), rgba(20, 167, 187, 0.1));
  padding: 1rem;
}
.productCardCart .productCardCart__fav-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 0;
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;
  color: #ffffff;
  font-size: 1.2rem;
}
.productCardCart .productCardCart__fav-wrapper .productCardCart__favbutton {
  width: 2rem;
  top: 1rem;
  right: 1rem;
  transition: filter 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}
.productCardCart .productCardCart__fav-wrapper .productCardCart__favbutton--active {
  filter: invert(65%) sepia(94%) saturate(1477%) hue-rotate(173deg) brightness(90%) contrast(90%);
}
.productCardCart .productCardCart__fav-wrapper .productCardCart__favbutton:hover {
  transform: scale(1.05);
}
.productCardCart .productCardCart__img {
  width: 10%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-right: 1rem;
}
.productCardCart .productCardCart__img:hover {
  transform: scale(1.1);
  cursor: pointer;
  filter: drop-shadow(0 0 15px #ffffff);
}
.productCardCart .productCardCart__bin {
  width: 30px;
  position: absolute;
  right: 1.6rem;
  bottom: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.productCardCart .productCardCart__bin:hover {
  transform: scale(1.1);
  cursor: pointer;
  filter: drop-shadow(0 0 15px #ffffff);
}
.productCardCart .productCardCart__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 0;
  color: #002e58;
  align-items: center;
  justify-items: flex-start;
}
.productCardCart .productCardCart__row .productCardCart__row__title {
  font-size: 1.6rem;
  max-width: 200px;
  text-align: left;
  font-weight: 500;
}
.productCardCart .productCardCart__row .productCardCart__info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 10rem;
  margin-left: 15rem;
}
.productCardCart .productCardCart__row .productCardCart__info .productCardCart__info__price,
.productCardCart .productCardCart__row .productCardCart__info .productCardCart__info__totalprice {
  text-decoration: none;
  padding: 0.6em 0.8em;
  border-radius: 2rem;
  font-weight: 600;
  border: 1.2px solid #007aff;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  background-color: #ffffff;
  color: #007aff;
  font-size: 1rem;
  font-weight: 500;
  width: 6rem;
  height: 2.5rem;
  line-height: 1.2;
}
.productCardCart .productCardCart__row .productCardCart__info .productCardCart__info__counter {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.productCardCart .productCardCart__row .productCardCart__info .productCardCart__info__counter .productCardCart__info__counter__input {
  width: 3rem;
  height: 2rem;
  text-align: center;
  font-size: 1rem;
  border: 2px solid #ffffff;
  border-radius: 2rem;
  background: transparent;
  color: #ffffff;
}
.productCardCart .productCardCart__row .productCardCart__info .productCardCart__info__counter .productCardCart__info__counter__button {
  background: #ffffff;
  color: #1483bb;
  border: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}
.productCardCart .productCardCart__row .productCardCart__info .productCardCart__info__counter .productCardCart__info__counter__button:hover {
  transform: scale(1.1);
}

.productDetailCard__main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 50%;
  padding: 6rem 10rem;
}
.productDetailCard__main .productDetailCard__imgs {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.8rem;
  position: fixed;
}
.productDetailCard__main .productDetailCard__imgs .productDetailCard__imgs__main__container {
  width: 35vw;
  height: 35vw;
  border-radius: 0.5rem;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}
.productDetailCard__main .productDetailCard__imgs .productDetailCard__imgs__childs {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.productDetailCard__main .productDetailCard__imgs .productDetailCard__imgs__childs .productDetailCard__imgs__childs__child {
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}
.productDetailCard__main .productDetailCard__imgs .productDetailCard__imgs__childs .productDetailCard__imgs__childs__child:hover {
  filter: brightness(50%);
}
.productDetailCard__main .productDetailCard__imgs .productDetailCard__imgs__childs .productDetailCard__imgs__childs__child__1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 5%;
}
.productDetailCard__main .productDetailCard__imgs .productDetailCard__imgs__childs .productDetailCard__imgs__childs__child__2 {
  width: 200%;
  height: 200%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: -60%;
  left: -70%;
}
.productDetailCard__main .productDetailCard__imgs .productDetailCard__imgs__childs .productDetailCard__imgs__childs__child__3 {
  width: 200%;
  height: 200%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: -20%;
  left: -10%;
  transform: rotate(90deg);
}
.productDetailCard__main .frame-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -5%;
  left: 2%;
}
.productDetailCard__main .frame-2 {
  width: 200%;
  height: 200%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: -60%;
  left: -70%;
}
.productDetailCard__main .frame-3 {
  width: 200%;
  height: 200%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: -20%;
  left: -10%;
  transform: rotate(90deg);
}
.productDetailCard__main .productDetailCard__info {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 0.5rem;
}
.productDetailCard__main .productDetailCard__info .productDetailCard__info__main {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.productDetailCard__main .productDetailCard__info .productDetailCard__info__main .productDetailCard__info__main__title {
  font-size: 1.4rem;
  color: #ffffff;
  line-height: 0.5rem;
}
.productDetailCard__main .productDetailCard__info .productDetailCard__info__main .productDetailCard__info__main__category {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.671);
  font-weight: 300;
  margin-bottom: 0.5rem;
}
.productDetailCard__main .productDetailCard__info .productDetailCard__info__main .productDetailCard__info__main__price {
  text-decoration: none;
  padding: 0.6em 0.8em;
  border-radius: 2rem;
  font-weight: 600;
  border: 1.2px solid #1483bb;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  background-color: #ffffff;
  color: #1483bb;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
}
.productDetailCard__main .productDetailCard__info .productDetailCard__info__description {
  max-width: 85%;
  text-align: justify;
  color: #ffffff;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
  word-spacing: -1px;
  max-height: 70px;
}
.productDetailCard__main .productDetailCard__info .productDetailCard__info__buttons {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.productDetailCard__main .productDetailCard__info .productDetailCard__info__buttons .productDetailCard__info__buttons__cart,
.productDetailCard__main .productDetailCard__info .productDetailCard__info__buttons .productDetailCard__info__buttons__favs {
  position: relative;
}
.productDetailCard__main .productDetailCard__info .productDetailCard__info__buttons .productDetailCard__info__buttons__cart button,
.productDetailCard__main .productDetailCard__info .productDetailCard__info__buttons .productDetailCard__info__buttons__favs button {
  width: 470px;
  height: 3.5rem;
  font-size: 1rem;
}
.productDetailCard__main .productDetailCard__info .productDetailCard__info__buttons .productDetailCard__info__buttons__cart img,
.productDetailCard__main .productDetailCard__info .productDetailCard__info__buttons .productDetailCard__info__buttons__favs img {
  position: absolute;
}
.productDetailCard__main .productDetailCard__info .productDetailCard__info__buttons .productDetailCard__info__buttons__cart img {
  width: 2.5rem;
  top: 0.25rem;
  right: 9.3rem;
}
.productDetailCard__main .productDetailCard__info .productDetailCard__info__buttons .productDetailCard__info__buttons__cart button {
  text-decoration: none;
  padding: 0.6em 0.8em;
  border-radius: 2rem;
  font-weight: 600;
  border: none;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  background-color: #1483bb;
  color: #ffffff;
}
.productDetailCard__main .productDetailCard__info .productDetailCard__info__buttons .productDetailCard__info__buttons__cart button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #1483bb;
}
.productDetailCard__main .productDetailCard__info .productDetailCard__info__buttons .productDetailCard__info__buttons__cart button:hover {
  background: transparent;
  color: #ffffff;
  box-shadow: 0 4px 5px rgba(251, 85, 85, 0.05);
}
.productDetailCard__main .productDetailCard__info .productDetailCard__info__buttons .productDetailCard__info__buttons__favs img {
  width: 2rem;
  top: 0.8rem;
  right: 8.5rem;
  filter: invert(65%) sepia(94%) saturate(1477%) hue-rotate(173deg) brightness(90%) contrast(90%);
}
.productDetailCard__main .productDetailCard__info .productDetailCard__info__buttons .productDetailCard__info__buttons__favs button {
  text-decoration: none;
  padding: 0.6em 0.8em;
  border-radius: 2rem;
  font-weight: 600;
  border: none;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  background-color: #ffffff;
  color: #1483bb;
}
.productDetailCard__main .productDetailCard__info .productDetailCard__info__buttons .productDetailCard__info__buttons__favs button:hover {
  cursor: pointer;
  background-color: #1483bb;
  color: #ffffff;
}
.productDetailCard__main .productDetailCard__info .productDetailCard__info__buttons .productDetailCard__info__buttons__favs button:hover {
  background: transparent;
  color: #ffffff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.05);
}
.productDetailCard__main .productDetailCard__info .productDetailCard__info__more {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4rem;
  color: #002e58;
  margin-top: 1rem;
}
.productDetailCard__main .productDetailCard__info .productDetailCard__info__more .productDetailCard__info__more__title {
  font-weight: 400;
}
.productDetailCard__main .productDetailCard__info .productDetailCard__info__more .productDetailCard__info__more__txt {
  margin-left: 1rem;
  font-weight: 700;
}
.productDetailCard__main .productDetailCard__info .productDetailCard__info__extra {
  color: #002e58;
  max-width: 85%;
  text-align: justify;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  word-spacing: -1px;
  margin-top: 3rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 0;
  background-color: #ffffff;
  position: sticky;
  top: 1rem;
  z-index: 999;
  padding: 0.8rem 2.8rem;
  border-radius: 3rem;
  margin: 0 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.navbar .navbar__logo {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.navbar .navbar__logo:hover {
  transform: scale(1.1);
  cursor: pointer;
  filter: drop-shadow(0 0 10px rgba(20, 131, 187, 0.1));
}
.navbar a {
  text-decoration: none;
  color: #1483bb;
  font-size: 1.2rem;
}
.navbar.navbar--scrolled {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: #ffffff;
  box-shadow: none;
}
.navbar.navbar--scrolled a {
  color: #ffffff;
}
.navbar .navbar__main {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.navbar .navbar__main a {
  text-decoration: none;
  padding: 0.6em 0.8em;
  border-radius: 2rem;
  font-weight: 600;
  border: none;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  background-color: #ffffff;
  color: #1483bb;
}
.navbar .navbar__main a:hover {
  cursor: pointer;
  background-color: #1483bb;
  color: #ffffff;
}
.navbar .navbar__main .navbar__main__myfavs {
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 2rem;
}
.navbar .navbar__more {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
}
.navbar .navbar__more .navbar__more__auth {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
}
.navbar .navbar__more .navbar__more__auth:hover {
  transform: scale(1.1);
  cursor: pointer;
  filter: drop-shadow(0 0 10px rgba(20, 131, 187, 0.1));
}
.navbar .navbar__more .navbar__more__cart {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.navbar .navbar__more .navbar__more__cart:hover {
  transform: scale(1.1);
  cursor: pointer;
  filter: drop-shadow(0 0 10px rgba(20, 131, 187, 0.1));
}

.heroCategory__section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  gap: 0;
  margin: 6rem auto 0 auto;
  color: #ffffff;
}
.heroCategory__section .heroCategory__section__title {
  text-align: center;
  font-weight: 100;
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: 1px;
}

.hero__section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  gap: 2.5rem;
  margin: 8rem auto 0 auto;
  color: #ffffff;
}
.hero__section .hero__section__title {
  text-align: left;
  font-weight: 100;
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: 1px;
}
.hero__section .hero__section__more {
  text-decoration: none;
  padding: 0.6em 0.8em;
  border-radius: 2rem;
  font-weight: 600;
  border: 2px solid #ffffff;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  background-color: none;
  color: #ffffff;
  text-align: center;
  background: transparent;
  font-weight: 400;
  margin-top: 0.6rem;
  font-size: 1.4rem;
}

.master {
  display: grid;
  grid-template-columns: 22fr 78fr;
  grid-template-rows: 50px auto 650px;
  grid-template-areas: "searchBar searchBar " "sidebar main" "footer footer";
  padding: 1rem 3rem;
  gap: 2rem;
}
.master .searchbar {
  grid-area: searchBar;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  gap: 0;
}
.master .searchbar input {
  text-decoration: none;
  padding: 0.6em 0.8em;
  border-radius: 2rem;
  font-weight: 600;
  border: 1.5px solid #ffffff;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  background-color: none;
  color: #ffffff;
  text-align: center;
  background: transparent;
  font-weight: 400;
  font-size: 1.1rem;
  width: 15vw;
}
.master .searchbar input::-moz-placeholder {
  color: #ffffff;
}
.master .searchbar input::placeholder {
  color: #ffffff;
}
.master .main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 2rem;
  grid-area: main;
}
.master .sidebar {
  background-color: #ffffff;
  grid-area: sidebar;
  border-radius: 1.5rem;
  padding: 2rem;
  max-height: 62vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  color: #002e58;
  font-weight: 400;
}
.master .sidebar .sidebar__line {
  border: 0.01px solid rgba(0, 46, 88, 0.2);
  width: 100%;
}
.master .sidebar .sidebar__links a {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
}
.master .sidebar .sidebar__links a:hover, .master .sidebar .sidebar__links a.sidebar__links--active {
  cursor: pointer;
  background-color: #002e58;
  padding: 0 0.6rem;
  border-radius: 2rem;
  text-align: center;
  transform: translate(-10%, 0);
}
.master .sidebar .sidebar__links a:hover h3, .master .sidebar .sidebar__links a.sidebar__links--active h3 {
  color: #ffffff;
}
.master .sidebar .sidebar__links a:hover img, .master .sidebar .sidebar__links a.sidebar__links--active img {
  filter: invert(65%) sepia(94%) saturate(1477%) hue-rotate(173deg) brightness(40%) invert(100%) brightness(200%);
}
.master .sidebar .sidebar__links img {
  width: 1rem;
  filter: invert(65%) sepia(94%) saturate(1477%) hue-rotate(173deg) brightness(40%);
}
.master .sidebar .sidebar__links h3 {
  font-weight: 400;
  color: #002e58;
  line-height: 2.2;
}

.cartMain {
  display: grid;
  gap: 2rem;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  width: 90vw;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.main__myfavs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 1rem;
  margin: 4rem auto;
  max-width: 80vw;
}

.pagination {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  grid-column: 2;
  margin-top: 2rem;
}
.pagination .pagination__btn {
  text-decoration: none;
  padding: 0.6em 0.8em;
  border-radius: 2rem;
  font-weight: 600;
  border: none;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  background-color: #ffffff;
  color: #007aff;
  padding: 0.4em 0.8em;
  font-size: 0.8rem;
}
.pagination .pagination__btn:hover {
  cursor: pointer;
  background-color: #007aff;
  color: #ffffff;
}

html,
body {
  font-family: "SF Pro", sans-serif;
  background: linear-gradient(45deg, rgba(128, 222, 239, 0.2) 0%, rgba(140, 249, 210, 0.2) 25%), linear-gradient(45deg, #eef8f8 0%, #1483bb 100%);
  background-attachment: fixed;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}
html::before,
body::before {
  content: "";
  position: fixed;
  top: -100px;
  right: -900px;
  width: 100%;
  height: 100vw;
  background: url("../assets/logos/icone_original.png") repeat;
  opacity: 0.08;
  z-index: -1;
}
html::after,
body::after {
  content: "";
  position: fixed;
  bottom: 10%;
  left: 50%;
  width: 200px;
  height: 200px;
  background: url("../assets/logos/icone_original.png") no-repeat;
  opacity: 0.08;
  transform: translateX(-50%);
  z-index: -1;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */